.P-header-container {
  background-color: #ccd5ae;
}

.P-article-container {
  background-color: #ccd5ae;

  .Content-title {
    text-shadow: 2px 2px 2px rgba(105, 105, 105, 0.329);
    text-decoration: underline;
    font-size: 2rem;
    padding: 0.5em;
  }
}

.P-button {
  background-color: #ccd5ae;
}
